@mixin btn_text_style {
    color: $btn_color;
    font-size: 25px;
    font-weight: 700;
}

@mixin input_fields {
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #fff;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    width: 100%;
}

@mixin display_flex($table, $horizontal, $vertical){
    display: flex;
    flex-direction: $table;
    align-items: $horizontal;
    justify-content: $vertical;
}

@mixin text_value($text_size, $text_weight){
    font-size: $text_size;
    font-weight: $text_weight;
}